
<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Clients</h4>
          </div>
          <div class="card-body">
            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
              <div class="kt-input-icon kt-input-icon--left">
                <form>
                  <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Recherche...">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="nc-icon nc-zoom-split"></i>
                      </div>
                    </div>
                  </div>
                </form>


              </div>
            </div>


            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Nom du Client
                </th>
                <th>
                  Secteur
                </th>
                <th>
                  Activité
                </th>
                <th >
                  email
                </th>
                <th >
                  Téléphone
                </th>
                </thead>
                <tbody>
                <tr>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td >
                    $36,738
                  </td>
                  <td >
                    $36,738
                  </td>
                </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>



  <div class="row">


    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Ajout Client </h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nom du Client</label>
                  <input type="text" class="form-control"  placeholder="AFP" >
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Secteur</label>
                  <input type="text" class="form-control" placeholder="Media" >
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label >Email address</label>
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Activité</label>
                  <input type="text" class="form-control" placeholder="Agence de Presse" >
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Droits</label>
                  <input type="text" class="form-control" placeholder="LSE" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1" >
                <div class="form-group">
                  <label>Addresse</label>
                  <input type="text" class="form-control" placeholder="adormesse de l'afp" >
                </div>
              </div>
              <div class="col-md-2 pr-1">
                <div class="form-group">
                  <label>Code Postal</label>
                  <input type="text" class="form-control" placeholder="75002" >
                </div>
              </div>
              <div class="col-md-4  pl-1">
                <div class="form-group">
                  <label>Ville</label>
                  <input type="text" class="form-control" placeholder="Paris" >
                </div>
              </div>
            </div>
            <div class="row">


              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Notes</label>
                  <input type="text" class="form-control" placeholder="Fullstack Javascript & AngularJS, Python,">
                </div>
              </div>

              <div class="col-md-2 pr-1">
                <div class="form-group">
                  <label>Téléphone</label>
                  <input type="text" class="form-control" placeholder="01 40 40 40 40">
                </div>
              </div>
              <div class="col-md-2 pr-1">
                <div class="form-group">
                  <label>Téléphone</label>
                  <input type="text" class="form-control" placeholder="01 40 40 40 40">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Précisions</label>
                  <input type="text" class="form-control" placeholder="Le service a déménagé" >
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" placeholder="prenom.nom@afp.com" >
                </div>
              </div>
              <div class="col-md-3  ">
                <div class="form-group">
                  <label>Linkedin</label>

                  <input type="text" class="form-control"  ><i class='fa fa-linkedin-square fa_custom' style=' background: white;font-size:20px;color:#0099CC'></i>


                </div>


              </div>




            </div>

          </form>
        </div>
      </div>
    </div>

      <div class="col-md-12">
      <div class="card card-user"   >

        <div class="card-header">
          <h5 class="card-title">Ajout Contact </h5>
        </div>



        <div class="card-body">
          <div >
            <table class="table" >

              <tbody>
              <tr>
                <td width="50%">
                  <form>
                    <div class="row" >
                      <div class="col-md-3 pr-1">
                        <div class="form-group">
                          <label>Nom du Contact</label>
                          <input type="text" class="form-control"  placeholder="Martin" >
                        </div>
                      </div>
                      <div class="col-md-3 px-1">
                        <div class="form-group">
                          <label>Prénom du Contact</label>
                          <input type="text" class="form-control" placeholder="Jean" >
                        </div>
                      </div>
                      <div class="col-md-3 pl-1">
                        <div class="form-group">
                          <label >Statut</label>
                          <input type="text" class="form-control" placeholder="black">
                        </div>
                      </div>

                    </div>






                      <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
                  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
                        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                 {{ date.day }}
                  </span>
                      </ng-template>


                    <div class="row">
                    <div class="col-md-3 ">
                      <div class="form-group">
                        <label>Rappel</label>

                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp" [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
                        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="d.toggle()">
                          <i class="fas fa-calendar-alt fa-fw"></i>
                        </button>

                      </div>
                    </div>
                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>Titre</label>
                        <input type="text" class="form-control" placeholder="LSE" >
                      </div>
                    </div>

                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="LSE" >
                      </div>
                    </div></div>



                    <div class="row">




                      <div class="col-md-3 pr-1">
                        <div class="form-group">
                          <label>Téléphone</label>
                          <input type="text" class="form-control" placeholder="01 40 40 40 40">
                        </div>
                      </div>
                      <div class="col-md-3 pr-1">
                        <div class="form-group">
                          <label>Téléphone</label>
                          <input type="text" class="form-control" placeholder="01 40 40 40 40">
                        </div>
                      </div>


                      <div class="col-md-3 pr-1">
                        <div class="form-group">
                          <label>Mobile</label>
                          <input type="text" class="form-control" placeholder="01 40 40 40 40">
                        </div>
                      </div>

                    </div>

                    <div class="row">

                    <div class="col-md-3  ">
                      <div class="form-group">
                        <label>Linkedin</label>

                        <input type="text" class="form-control"  >
                      </div>


                    </div>
                      <div class="col-md-3 ">
                        <div class="form-group">
                          <label>Rappel</label>

                          <input class="form-control" placeholder="yyyy-mm-dd"
                                 name="dp" [(ngModel)]="model2" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">


                          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="d.toggle()">
                            <i class="fas fa-calendar-alt fa-fw"></i>
                          </button>

                        </div>
                      </div>
                      <div class="col-md-3  ">
                        <div class="form-group">
                          <label>Autre</label>

                          <input type="text" class="form-control" placeholder="Prez 251118" >
                        </div>


                      </div>








                    </div>

                    <div class="row">
                    <div class="col-md-3  ">
                      <div class="form-group">
                        <label>Push</label>

                        <select  class="form-control " >

                          <option value="Résident">Node JS</option>
                          <option value="Interne">Java</option>

                        </select> <br>
                        <select  class="form-control " >

                          <option value="Résident">Node JS</option>
                          <option value="Interne">Java</option>

                        </select>

                      </div>


                    </div>



                    </div>

                  </form>
                </td>
                <td width="50%"  >



                  <div >
                    <table style=" margin-top: 0;"  >
                      <thead class=" text-primary">
                      <th>
                       Date
                      </th>
                      <th>
                        Description de besoin
                      </th>
                      <th>
                        Statut
                      </th>
                      <th >
                        email
                      </th>
                      <th >
                        AO
                      </th>
                      <th >
                        CVs
                      </th>
                      <th >
                        Date d'envoi CV
                      </th>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                        Dakota Rice
                        </td>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td >
                          <i class="nc-icon nc-zoom-split"></i>
                          <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </td>
                        <td >
                          <i class="nc-icon nc-zoom-split"></i>
                          <i class="fa fa-paperclip" aria-hidden="true"></i>
                          <i class="nc-icon nc-circle-10"></i>
                        </td>
                        <td>
                      12-26-1993
                        </td>
                      </tr>


                      </tbody>
                    </table></div>
                  Nouveau Besoin :

                    <button class="btn btn-info "(click)="toggle()" id="bt"><i class="nc-icon nc-simple-add"></i>


                  </button>
                  <br>


                  <ng-container *ngIf="show">
                    <div style="margin: 0 auto;text-align: left;">
                      <div>
                        <label>Description de besoin:</label>
                        <div><input id="tbname" name="yourname" /></div>
                      </div>
                      <div>
                        <label>Statut:</label>
                        <div><input name="email" id="email" /></div></div>
                      <div>
                        <label>Email:</label>
                        <div><input name="email" id="22" /></div></div>

                      <div>
                        <label>AO:</label>
                        <div><input type="file" name="AO"/></div></div>

                      <div>
                        <label>CV:</label>
                        <div><input type="file"  /></div></div>


   <br>
                      <div class="update ml-auto mr-auto">


                        <div class="form-group">
                          <button  class="btn btn-primary"  style="border-radius: 12px;" >Valider</button>
                          <label>ou</label>

                          <a routerLink="/testecron" ><button type="reset" class="btn btn-neutral" style="border-radius: 12px;">
                            Annuler</button></a>
                        </div>
                      </div>
                    </div>

                  </ng-container>
                  <br>

                  <table style="border: 1px solid black;">
                    <tr style="border: 1px solid black;">
                      <th style=" width:200px ;border: 1px solid black;">Fréquences <br>
                        <div>
                          <input  style="margin: .4rem;" type="checkbox" id="lundi" name="lundi">
                          <label  style=" font: 1rem 'Fira Sans', sans-serif;" for="lundi">lundi</label>
                        </div>
                        <div>
                          <input  style="margin: .4rem;" type="checkbox" id="mardi" name="mardi">
                          <label  style=" font: 1rem 'Fira Sans', sans-serif;" for="mardi">mardi</label>
                        </div>
                        <div>
                          <input  style="margin: .4rem;" type="checkbox" id="mercredi" name="mercredi">
                          <label  style=" font: 1rem 'Fira Sans', sans-serif;" for="mercredi">mercredi</label>
                        </div>
                        <div>
                          <input  style="margin: .4rem;" type="checkbox" id="jeudi" name="jeudi">
                          <label  style=" font: 1rem 'Fira Sans', sans-serif;" for="jeudi">jeudi</label>
                        </div>

                        <div>
                          <input  style="margin: .4rem;" type="checkbox" id="vendredi" name="vendredi">
                          <label  style=" font: 1rem 'Fira Sans', sans-serif;" for="vendredi">vendredi</label>
                        </div>

                        <div>
                          <input  style="margin: .4rem;" type="checkbox" id="hebdomadaire" name="hebdomadaire">
                          <label  style=" font: 1rem 'Fira Sans', sans-serif;" for="hebdomadaire">hebdomadaire</label>
                        </div>

                        <div>
                          <input  style="margin: .4rem;" type="checkbox" id="mensuelle" name="mensuelle">
                          <label  style=" font: 1rem 'Fira Sans', sans-serif;" for="mensuelle">mensuelle</label>
                        </div>
                      </th>



                    </tr>


                  </table>

                </td>

              </tr>


              </tbody>

            </table>



        </div>
      </div>
      </div>


  </div>


    <div class="update ml-auto mr-auto">


      <div class="form-group">
        <button  class="btn btn-primary"  style="border-radius: 12px;" >Valider</button>
        <label>ou</label>

        <a routerLink="/testecron" ><button type="reset" class="btn btn-neutral" style="border-radius: 12px;">
          Annuler</button></a>
      </div>
    </div>
  </div>



